#app {
    width: 375px; height: 812px;
    margin: 30px auto;
    border: 1px solid black;
    padding-top: 42px;
}
/* ============top, logo */
#app .top {
    border: 1px solid gray; 
    display: flex;
    padding: 16px;
}
#app .top .prev {
    overflow: hidden;
    width: 24px; height: 24px;
    display:inline-block ;
    background-color: gray; 
}   
#app .top .prev img {
}
#app h1 {
    background-color: gray;
    width: 150px; height: 40px;
    text-align: center;
    margin: 42px auto 35px;
}
#app h1 a {}
#app h1 a img {}
/* ==============form */
#app .keyboard_g {
    border: 1px solid gray;
    padding-bottom: 10px; padding-right: 16px;
    display: flex;
    justify-content: flex-end;
}
#app .keyboard_g a {
    display: flex; align-items: flex-start;
    font-size: 0.75rem;
}
#app .keyboard_g a img {
    width: 16px; height: 16px;
    display:inline-block ;
    background-color: gray; 
    margin-left: 6px;
}
#app #login_frm {}
#app #login_frm .login_g {}
#app #login_frm .login_g ul {
    width: 343px; margin: 0 auto;
}
#app #login_frm .login_g ul li {
    display: flex; 
}
#app #login_frm .login_g ul li input[name^=user] {  
    padding: 16px 16px 16px 56px;  width: 100%;
    outline: none; border: 0;
    
    
}
#app #login_frm .login_g ul li input[name$=id] {
    border-radius: 5px 5px 0 0; 
    border: 1px solid gray;
}
#app #login_frm .login_g ul li input[name$=pw] {
    border-radius: 0 0 5px 5px;
    border: 1px solid gray;
}
#app #login_frm .login_g .btn {margin: 16px;}
#app #login_frm .login_g .btn #login_btn {
    width: 343px; 
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 36px;
    border: 1px solid gray;
    /* button 안쪽 글자는 기본 정렬이 가운데이다! */
    
}
/* ===============로그인 오류 시 출력 메시지(기본 숨김) */
#app #login_frm .login_g .error_message {
    display: none; 
    font-size: 0.75rem;
    margin: 16px;
}
/* ================찾기, 가입 */
#app .search_join {
    display: flex; justify-content: center;

}
#app .search_join a {
    font-size: 0.75rem; 
    display: flex; 
}
/* ===== 구분선 세로 ==== */
#app .search_join a::after {
    content: ""; display: inline-block;
    width: 1px; height: 10px; background-color: black;
    margin-left: 8px;  margin-right: 8px;
}
#app .search_join a:last-child:after {display: none;}