main {}
/* 배경 공통&개별값 + 공통 제목*/
main .bg {
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */ /* bg cover란? 배경이미지가 적용된 요소의 크기에 자동으로 가로세로 크기를 맞춰 채운다는 뜻 */

}
main .bg > section {width: 1250px; margin: 0 auto; }
main .bg1 {background-image:url(../images/bg.jpg); height: 1001px;}
main .bg2 {background-image: url(../images/bg_2.jpg);}
main .bg section .sub_title {
    font-size: 3.438rem; letter-spacing: -0.1px;
    font-weight: 600; color: #fff;
    line-height: 1.2;
}
main .bg section .sponsor_link {
    /* 0% #FE9300, 100% #FF7300 */
    /* css 회전각도단위 deg */
    background:linear-gradient(90deg, #FE9300, #ff7300);
    /* gradient 적용을 위해 background통합속성을 사용했을 때 해당요소 추가 배경이미지 꾸미기를 원한다면 가상선택자를 활용하는 것을 권장한다  */
    /* flex 형제끼리 맞추고 싶을 때 사용  */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    border-radius: 50px;
    font-size: 2.125rem; font-weight: 700;
    margin: 0 auto;
    width: 400px; height: 71px;
    /* line-height: 71px; */
    /* text-align: center; */
    color: #fff;
    
}
/* ----------------------1.표지 */
main .bg1 section {}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    text-align: center;
    color: #fff;
    font-size: 4.375rem;
    letter-spacing: -0.2px; line-height: 1.2;
    padding: 130px 0 50px;    
}
main .bg1 section h2 em {font-weight: 700;}
/* 글자 오른쪽 이미지 넣기 */
main .bg1 section .sponsor_link::after{
    content:'';
    background-image:url(../images/btn_right_arrow.svg);    
    background-repeat: no-repeat; 
    width: 32px; height: 32px;
    display: inline-block;
}
main .bg1 section .sponsor_question {
    border-radius: 50px;
    background-color: #050505; color: #fff;
    width: 320px;   height: 50px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    float: right;
    margin-top: 189px;
}
main .bg1 section .sponsor_question::before {
    content:'';
    width: 20px; height: 20px;
    background-image: url(../images/icon_sns.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
}
main .bg1 section .sponsor_question::after {
    content: '';
    background-image:url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 20px; height: 20px;
    background-size: 20px;
    display: inline-block;
}
/* -----2.퀴즈------- */
main .bg2 section {display: flex; /* flex의 item기본 메인축 정렬은 수평 */}
main .bg2 section > * {flex: 1;}
main .bg2 section #quiz_frm {
    padding: 30px 0 30px; color: #fff; 
}
/* -----2-퀴즈-참여현황 */
main .bg2 section #quiz_frm .quiz_contents {}
main .bg2 section #quiz_frm .quiz_contents h2 {
    margin-bottom: 20px;
    width: 450px; text-align: center ;
}
main .bg2 section #quiz_frm .quiz_contents h2+p {
    font-size: 1.25rem; line-height: 1.7;
    padding-bottom: 20px;
} 
main .bg2 section #quiz_frm .quiz_contents .quiz_list {margin: 0 0 27px;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li {margin: 0 0 20px;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li:last-child {margin: 0;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q] {display: none;}
main .bg2 section #quiz_frm .quiz_contents .quiz_list li label {
    background-image:url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat; /* 이미지 반복없애기 */
    padding-left: 48px; line-height: 28px; 
    display: inline-block;
}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p {}
main .bg2 section #quiz_frm .quiz_contents .quiz_list+p #answer_btn {
    background-color: #050505; color: #fff;
    border-radius: 50px; width: 450px; line-height: 39px;
}
/* -----------2 퀴즈 ----퀴즈(인풋 체크 시 활성화 label 디자인) */
main .bg2 section #quiz_frm .quiz_contents .quiz_list li input[name=quiz_q]:checked + label {
    background-image:url(../images/quiz_checked.svg);
}
/* ----------2-퀴즈---참여현황 */
main .bg2 section .quiz_participation {
    padding: 115px 0 0;
    display: flex; flex-flow: column wrap;
    align-items: flex-end; 
}
main .bg2 section .quiz_participation .status {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;    
}
main .bg2 section .quiz_participation .status h2 {
    background-color: #FE9300; 
    font-size: 1.625rem; color: #fff;
    line-height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg2 section .quiz_participation .status h2::before {
    background-image:url(../images/icon_person.svg);
    background-repeat: no-repeat;
    content: ''; display: inline-block;
    width: 42px; height: 42px;
}
main .bg2 section .quiz_participation .status .contents {
    background-color: #fff; text-align: center; 
    padding: 40px 0;
    
}
main .bg2 section .quiz_participation .status .contents em {
    font-size: 4.375rem; font-weight: 700; letter-spacing: -0.2px;
    color: #fe9300;
}
main .bg2 section .quiz_participation .status .contents span {
    color: #fe9300;
}
main .bg2 section .quiz_participation .status .contents strong {}
main .bg2 section .quiz_participation .status .contents span, 
main .bg2 section .quiz_participation .status .contents strong {
    font-size: 2.125rem; font-weight: 700;
}
main .bg2 section .quiz_participation p {
    margin-top: 20px; font-size: 1.25rem;
    color: #fff;
}
/* -----------------3-새끼 북극곰의 이야기--- */
main .bg3 {background-image: url(../images/bg_3.jpg);}
main .bg3 section {text-align: center; padding: 50px 0;}
main .bg3 section .sub_title {color: #000;}
main .bg3 section #video {width: 900px; margin: 70px 0;}
main .bg3 section .sponsor_link {}
/* ----------------4-------------- */
main .bg4 {background-image:url(../images/bg_4.jpg);}
main .bg4 section {}
main .bg4 section .sub_title {line-height: 1.2; padding-top: 70px;}
main .bg4 section .sub_title em
/* main .bg6 section .sub_title em */ {
    color: #000; background-color: #fff;
    font-weight: 700; height: 73px; width: 245px;
    display: inline-block;
    padding: 5px;   
}
main .bg4 section .sub_title+p,
main .bg6 section .sub_title+p
{
    font-size: 2.125rem; font-weight: 700; line-height: 1.2;
    color: #fff; margin: 92px 0 50px;
}
main .bg4 section p:last-child {}
main .bg4 section p:last-child img {}
/* -------5------- */
main .bg5 {background-image: url(../images/bg_5.jpg);}
main .bg5  section {text-align: center; padding: 130px 0;}
main .bg5  section .sub_title {color: #000;}
main .bg5  section .sub_title+p {
    font-size: 1.625rem; line-height: 1.2;
    margin: 24px;
}
main .bg5  section .container {display: flex;}
main .bg5  section .container li {
    flex: 1; margin-right: 40px;
    text-align: center;
}
main .bg5  section .container li:last-child {margin: 0;}
main .bg5  section .container li .bg {
    height: 320px;
    padding-top: 48px;
}
main .bg5  section .container li .bg h3 {
    color: #fff; margin-bottom: 15px;
    font-size: 2.688rem; font-weight: 700;
}
main .bg5  section .container li .bg p {
    color: #fff; font-size: 1.625rem;
}
main .bg5  section .container li .contents {

}
main .bg5  section .container li .contents p {
    width: 382px; height: 250px; background-color: #fff;
    padding: 10px 38px 0; font-size: 1.25rem; line-height: 1.7;
}
/* --------------5(개별bg설정) */
main .bg5  section .container li:nth-child(1) .bg {
    background-image:url(../images/img-box1.png);
    width: 382px; height: 320px;

}
main .bg5  section .container li:nth-child(2) .bg {
    background-image: url(../images/img-box2.png);
    width: 382px; height: 320px;

}
main .bg5  section .container li:nth-child(3) .bg {
    background-image: url(../images/img-box3.png);
    width: 382px; height: 320px; 

}

/* --------6------- */
main .bg6 {background-image: url(../images/bg_6.jpg);}
main .bg6 section {}
main .bg6 section .sub_title {padding-top: 50px;}
main .bg6 section .sub_title em {
    color: #000; background-color: #fff;
    font-weight: 700; width: 405px; height: 70px;
    display: inline-block; padding: 7px;
}
main .bg6 section .sub_title span {color: #000; font-weight: 700;}
main .bg6 section .sub_title+p {}
main .bg6 section p:last-child {}
main .bg6 section p:last-child img {}
/* --------------4,6 그룹선택자 */
main .bg4 section,
main .bg6 section {}
main .bg4 section .sub_title,
main .bg6 section .sub_title {}
main .bg4 section .sub_title em,
main .bg6 section .sub_title em {}
main .bg4 section .sub_title+p,
main .bg6 section .sub_title+p {}
main .bg4 section p:last-child,
main .bg6 section p:last-child {}
main .bg4 section p:last-child img,
main .bg6 section p:last-child img {}