main {
    text-align: center;
    /* width: 1920px; */
    width: 1250px; margin: 0 auto;
}

main .bg {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F9F9F9;
    
}
main .bg1 {
    background-image: url(../images/img.png);
    height: 1100px;
}
main .bg1 section {}    
main .bg1 section .login {}
main .bg1 section .login ul {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
main .bg1 section .login ul .logoimges {}
main .bg1 section .login ul .logoimges h1 {}
main .bg1 section .login ul .logoimges h1 .logo_1 {}
main .bg1 section .login ul .logoimges h1 .logo_1 img {
    background-color:transparent;
    /* filter: opacity(0.5) drop-shadow(0 0 0 #f9f9f9); */
    
}
main .bg1 section .login ul .service_center {}
main .bg1 section .login ul .service_center a {
    font-size: 1.5rem; font-weight: 700;
    padding-right: 49px;
}

main .bg1 section h2 {
    font-size: 3.125rem; font-weight: 700; 
    text-align: center;
    margin-bottom: 45px; 
    line-height: 1.2; margin-top: 20px;
}
main .bg1 section #apply_button {
    border: 1px solid #aaa; border-radius: 20px;
    width: 200px; height: 60px;
    background-color: #0046FF; color: #fff;
    font-size: 1.875rem; padding: 8px 0 ;
}