main {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
}
main .book {width: 900px;}
main .book thead {}
main .book thead tr {}
main .book thead tr th {
    border: 1px solid black;
    text-align: center;
    font-size: 1.875rem;
    color: #fff;
    background-color: #FF0066;
    padding: 17px 0 23px;
    
}
main .book tbody {}
main .book tbody tr {}
main .book tbody tr:nth-child(2) {color: #FF0066;}
main .book tbody tr th {
    border: 1px solid black;
    padding: 22px 0;
    width: 372px;
}
main .book tbody tr td {
    border: 1px solid black;
    
}