main {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    width: 1000px;
    margin: 100px auto;
}
main .book {width: 900px; }
main .book thead {}
main .book thead tr {}
main .book thead tr th {
    border: 1px solid #fff;
    text-align: center;
    font-size: 1.875rem;
    color: #fff;
    background-color: #FF0066;
    padding: 17px 0 23px;
    
}
main .book thead tr th:nth-child(1) {border-radius: 40px 0 0 ;}
main .book thead tr th:nth-child(5) {border-radius: 0 40px 0 0;}
main .book tbody {}
main .book tbody tr {
    
}
main .book tbody tr:nth-child(2) th { 
    color: #FF0066;
    font-weight: 700;

}
main .book tbody tr:nth-child(2) {border: 3px solid #FF0066;}
main .book tbody tr:nth-child(2) td {
    color: #FF0066;
    background-color: #D9D9D9;
    font-weight: 700;

}

main .book tbody tr th {
    padding: 22px 0;
    width: 372px;
    padding-left: 45px;
    background-color: #F2F2F2;
}
main .book tbody tr:nth-child(2) th{background-color: #D9D9D9;}
main .book tbody tr:nth-child(4) th{background-color: #D9D9D9;}
main .book tbody tr td {
    background-color: #F2F2F2;
    border-left: 1px solid #fff;
}
main .book tbody tr:nth-child(5) th {
    border-radius: 0 0 0 40px;
}  
main .book tbody tr:nth-child(5) td:nth-child(5) {
    border-radius: 0 0 40px 0;
}
main .book tbody tr:nth-child(2) td {background-color: #D9D9D9;}
main .book tbody tr:nth-child(4) td {background-color: #D9D9D9;}